body{
    font-size: larger;
    background-color:#f9f9f9;
    
}

main{
    display: flex;
    margin-left: auto;
    margin-right: auto;

    
    justify-content: center;

}

.section1{
    display: block;
    width: 1000px;
   
    justify-content: center;

}

header {
    background-image: url("/Project/Foto's/avatar-the-last-airbender-Cropped.jpg");
    background-color: #333;
    color: white;
    padding: 300px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.paginaTitle :hover{
    text-decoration: none;
}

h1{
    color:white;
}


h2{
    color: #333;
    text-align: center;
}

a{
    text-align: center;
    text-decoration: none;
    color: #333;


}
#tt{
    text-align: center;
    text-decoration: none;
    
}

a:hover{
    color: blue;
}

p{
    display: block;
    text-align: center;
}

.myLittleForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
img{
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bisonFly{
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    animation-name: bisonFlying;
    animation-duration: 5s;
}

@keyframes bisonFlying{
    0% { transform: translateX(-200px); }
    20%{transform: rotate(90deg);}
    30%{transform: rotate(180deg);}
    50% { transform: translateX(300px); }
    70%{transform: translateY(200px);}
    85%{transform: rotate(275deg);}
    100% { transform: translate(100px,100px);
    }}
    


   
    
    .container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        margin-top: 2.5%;
        padding: 20px;
        border: 5px solid black;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
    .container ul {
        list-style: none; 
        padding: 0; 
    }
    
    .container ul li {
        margin: 10px 0; 
    }
    
    .container ul li img {
        max-width: 200px; 
    }
    
    
    